<form id="form1">
	<div class="col-12">
		<h2>악기 편집하기</h2>

	<input id="idTag" type="hidden" name="_id" value="<%= post._id %>"/>

	<div class="form-group row">
		<label class="col-4 col-form-label">악기</label>
		<div class="col-8">
			<input class="form-control" type="text" name="inst" value="<%= post.inst %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">분류</label>
		<div class="col-8">
			<input class="form-control" type="text" name="instType" value="<%= post.instType %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">번호</label>
		<div class="col-8">
			<input class="form-control" type="text" name="instNumb" value="<%= post.instNumb %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">제조사</label>
		<div class="col-8">
			<input class="form-control" type="text" name="manufact" value="<%= post.manufact %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">모델명</label>
		<div class="col-8">
			<input class="form-control" type="text" name="model" value="<%= post.model %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">씨리얼 넘버</label>
		<div class="col-8">
			<input class="form-control" type="text" name="serial" value="<%= post.serial	%>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">상태</label>
		<div class="col-8">
			<input class="form-control" type="text" name="status" value="<%= post.status	%>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">구성품</label>
		<div class="col-8">
			<input class="form-control" type="text" name="components" value="<%= post.components %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">수리 필요 여부</label>
		<div class="col-8">
			<input class="form-control" type="text" name="needsRepair" value="<%= post.needsRepair %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">현재 사용자</label>
		<div class="col-8">
			<input class="form-control" type="text" name="currUser" value="<%= post.currUser %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">사용 날짜 시작</label>
		<div class="col-8">
			<input class="form-control" type="text" name="useDate" value="<%= post.useDate %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">비고</label>
		<div class="col-8">
			<input class="form-control" type="text" name="extra" value="<%= post.extra %>">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-4 col-form-label">사진</label>
		<div class="col-8">
			<input id="image-file" type="file" name="imageFile" accept="image/*" onchange="previewImg()">
		<label id="image-frame" for="image-file">
		<div id="text-background">사진을 선택하시오</div>
		<img id="image-preview" height="200" width="200" alt="<%= post.inst %>" src="<%= post.image %>"/>
		</label>
		</div>
	</div>
	<div class="row">
		<button type="button" class="btn btn-secondary col-sm-4" onclick="cancel()">취소</button>
		<button type="button" class="btn btn-danger col-sm-4" data-toggle="modal" data-target="#myModal">삭제</button>
		<button type="button" class="btn btn-primary col-sm-4" onclick="postForm()">편집</button>
	</div>

	
	</div>

	<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">악기 삭제</h4>
      </div>
      <div class="modal-body">
        <p>정말로 악기를 삭제하시겠습니까?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default col-6" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-danger col-6" onclick="postFormDelete()">삭제</button>
      </div>
    </div>

  </div>
</div>

	<br>
</form>