<div class="table-responsive">
<table id="posts-container" class="table">
	<thead>
		<tr>
			<th style="min-width: 60px;">악기</th>
			<th style="min-width: 60px;">분류</th>
			<th style="min-width: 60px;">번호</th>
			<th style="min-width: 70px;">제조사</th>
			<th style="min-width: 70px;">모델명</th>
			<th style="min-width: 100px;">씨리얼 넘버</th>
			<th style="min-width: 80px;">상태</th>
			<th style="min-width: 70px;">구성품</th>
			<th style="min-width: 100px;">수리 필요 여부</th>
			<th style="min-width: 100px;">현재 사용자</th>
			<th style="min-width: 100px;">사용 시작 날짜</th>
			<th style="min-width: 100px;">비고</th>
			<th style="min-width: 60px;">사진</th>
		</tr>
	</thead>
	<tbody>
    <% posts.forEach( function (post) { %>
    	<tr data-href="/edit/<%= post._id %>">
    	
        	<td><%= post.inst %></td>
			<td><%= post.instType %></td>
			<td><%= post.instNumb %></td>
			<td><%= post.manufact %></td>
			<td><%= post.model %></td>
			<td><%= post.serial	%></td>
			<td><%= post.status	%></td>
			<td><%= post.components %></td>
			<td><%= post.needsRepair %></td>
			<td><%= post.currUser %></td>
			<td><%= post.useDate %></td>
			<td><%= post.extra %></td>
			<td>
		<% if ( post.image != "http://kuwo-instruments.herokuapp.com/" || !post.image ) { %>
			<img alt="<%= post.inst %>" src="<%= post.image %>"/>
		<% } %>
			</td>
        </tr>
    <% }); %>

    </tbody>
</table>
</div>